footer {
  width: 100%;
  height: auto;
  background-color: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  .location {
    display: flex;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    row-gap: 10px;
    margin-bottom: 30px;
    svg {
      margin-bottom: 10px;
    }
    .title {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      padding: 15px;
      width: inherit;
      color: white;
      text-align: center;
    }
    div {
      a {
        text-decoration: none;
        color: white;
        &:hover {
          color: rgba(211, 211, 211, 0.555);
        }
      }
    }
  }
  .telephone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    max-width: 500px;
    width: 100%;
    row-gap: 10px;
    svg {
      margin-bottom: 10px;
    }
    .title {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      padding: 15px;
      width: inherit;
      color: white;
      text-align: center;
    }
    div {
      a {
        text-decoration: none;
        color: white;
        &:hover {
          color: rgba(211, 211, 211, 0.555);
        }
      }
    }
  }
}
