.show {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;  
  .show_center {
    width: 100%;
    height: inherit;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      .pro_swiper {
        width: 310px;
        height: auto;
        border: 2px solid lightgray;
        background-color: white;
      }
      .img {
        width: 100%;
        height: inherit;
        display: flex;
        justify-content: center;
        img {
          width: inherit;
          height: inherit;
        }
      }
      .content {
        padding: 10px;
        h2 {
          margin-top: 5px;
          margin-bottom: 10px;
        }
        p {
          text-align: justify;
        }
      }
    }

    .swiper-slide img {
      object-fit: cover;
    }
  }
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    color: #8d8c8c;
    font-size: 25px !important;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px !important;
    border: 1px solid rgba(2, 2, 2, 0.548);
    background-color: white;
    z-index: 3;
  }
}
